* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    width: 95%;
    height: 95%;
    background: white;
    padding: 1vw;
    padding-top: 3vw;
    border-radius: 15px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.header {
    color: #1d93a5;
    font-size: 2.5vw;
    font-weight: bold;
    margin-top: 5vw;
    
}

.subtext {
    color: #666;
    font-size: 1.5vw;
    margin-top: 1vw;
}

.box {
    background: 
        url('Imagens/fundo.svg') no-repeat center center / cover, 
        #1d93a5;
    color: white;
    padding: 8vw;
    min-height: 30vh;
    margin-top: auto;
    border-radius: 15px;
}

.box strong {
    font-weight: bold;
}

.content {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.text {
    flex: 1; 
    font-size: 2vw;
}

.icon {
    width: 20vw; 
    height: auto; 
    margin-left: 2vw; 
}

/* Responsividade */
@media (max-width: 768px) {
    .header {
        font-size: 5vw;
    }
    .subtext {
        font-size: 3vw;
    }
    .box {
        font-size: 3.5vw;
        padding: 5vw;
    }
    .icon {
        font-size: 8vw;
    }
}

@media (max-width: 480px) {
    .header {
        font-size: 6vw;
    }
    .subtext {
        font-size: 4vw;
    }
    .box {
        font-size: 4.5vw;
        padding: 6vw;
    }
    .icon {
        font-size: 10vw;
    }
}