* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    position: relative;
    width: 95vw;
    height: 95vh;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info {
    font-size: 2vw;
    font-weight: bold;
    text-align: left;
    margin-left: 4vw;
}

.info h2 {
    color: #1d93a5;
    font-size: 2.5vw;
    font-weight: bold;
    margin-top: 3vw;
}

.image_pvp {
    margin-top: 5vw;
    display: flex;
    gap: 10px;
    margin-left: 4vw;
    flex-wrap: wrap;
}

.image {
    display: flex;
    justify-content: center;
    width: 50%;
    aspect-ratio: 16/9;
}

.image img {
    width: 70%;
    height: 100%;
    object-fit: contain;
}

.pvp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.price_iva {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.price {
    font-size: 8vw;
    font-weight: bold;
    color: black;
    text-align: right;
}

.tax-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1vw;
    font-weight: bold;
    color: black;
    line-height: 1.2;
    margin-top: 7.8vw;
}

.tax-info {
    color: black;
}

.unvenda {
    font-size: 2vw;
    color: #1d93a5;
    font-weight: bold;
    text-align: right;
}

.precoun {
    font-size: 2.5vw;
    color: #434343;
    font-weight: bold;
    text-align: right;
}

.logo {
    position: absolute;
    bottom: 2vh;
    right: 2vw;
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logo img {
    width: 100%;
    height: auto;
    display: block;
    z-index: 1;
}

.stock {
    margin-top: 0.5vh;
    padding: 0.3rem 0.6rem;
    border-radius: 8px;
    font-size: 1vw;
    font-weight: bold;
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
}

/* Responsividade */
@media (max-width: 768px) {
    .info {
        font-size: 5vw;
        margin-left: 2vw;
    }

    .info h2 {
        font-size: 4vw;
        margin-top: 3vw;
    }

    .image_pvp {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .image, .pvp {
        width: 90%;
        text-align: center;
        align-items: center;
    }

    .price {
        font-size: 15vw;
    }

    .unvenda {
        font-size: 4vw;
    }

    .precoun {
        font-size: 5vw;
    }

    .tax-info {
        font-size: 3vw;
    }

    .logo {
        width: 25vw;
        right: 5vw;
        bottom: 3vh;
    }

    .stock {
        font-size: 3vw;
    }
}