* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    position: relative;
    width: 95vw;
    height: 95vh;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    justify-content: space-between;
}

.info {
    font-size: 2vw;
    font-weight: bold;
    text-align: left;
    margin-left: 4vw;
}

.info h2 {
    color: #1d93a5;
    font-size: 2.5vw;
    font-weight: bold;
    margin-top: 3vw;
}

.stock p{
    font-size: 1.5vw;
}

.image_pvp {
    margin-top: 5vw;
    display: flex;
    gap: 10px;
    margin-left: 4vw;
    flex-wrap: wrap;
}

.image {
    display: flex;
    justify-content: center;
    width: 50%;
    aspect-ratio: 16/9; /* Mantém uma proporção fixa */
}

.image img {
    width: 70%;
    height: 100%;
    object-fit: contain; /* Ajusta sem cortes */
}

.pvp {
    width: 30%;
    display: inline-block;
}

.price {
    display: block;
    text-align: right;
    font-size: 10vw;
    font-weight: bold;
    color: black;
}

.unvenda {
    font-size: 2vw;
    color: #1d93a5;
    font-weight: bold;
    display: block;
    text-align: right;
}

.logo {
    position: absolute;
    bottom: 2vh;
    right: 2vw;
    width: 15vw;
    max-width: 200px;
}

.logo img {
    width: 100%;
    height: auto;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .info {
        font-size: 5vw;
        margin-left: 2vw;
    }
    .info h2 {
        font-size: 4vw;
        margin-top: 3vw;
    }
    .image_pvp {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    .image, .pvp {
        width: 90%;
        text-align: center;
    }
    .price {
        font-size: 15vw;
    }
    .unvenda {
        font-size: 4vw;
    }
    .logo {
        width: 25vw;
    }
}
